@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', Solitas Extended Medium;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: rgb(36, 39, 42);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: 1rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

a, a:visited {
    color: #fff;
}

Form.Group {
  display: block;
  justify-content: center;
}

Form.Control,
button,
textarea {
  display: block;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  border-radius: 0.5rem;
  align-items: center;
  width: 250px;
  height:  40px;
}

Form.Label,
button {
  margin-top: 1rem;
}

p {
  text-align: center;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

button {
  cursor: pointer;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
